<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="styles/skeleton.css">
    <link rel="stylesheet" type="text/css" href="styles/base.css">
    <link rel="stylesheet" type="text/css" href="styles/layout.css">
</head>
  <body>
    <script id="libraryEntryTemplate" type="text/html">
        <div class="songInner">
            <div class="play"><%= artist %></div>
            <div class="play"><%= title %></div>
            <div class="playCount"><%= playCount %></div>
            <div class="addToPlaylist"><button>+</button></div>
        </div>
    </script>

    <script id="songQueueTemplate" type="text/html">
        <div class="queueInner">
            <div><%= title %></div><div class="dequeue"><button>X</button></div>
        </div>
    </script>

    <script id="playlistTemplate" type="text/html">
        <div class="playlistInner">
            <div><%= title %></div><div class="dequeue"><button>X</button></div>
        </div>
    </script>

    <!-- Scripts may be placed anywhere on a page. But FYI, they block rendering of elements
     below them until after the scripts load-->
    <script src="bower_components/jquery/jquery.min.js"></script>
    <script src="bower_components/underscore/underscore.js"></script>
    <script src="bower_components/backbone/backbone.js"></script>

    <script src="data/data.js"></script>

    <script src="models/SongModel.js"></script>
    <script src="collections/Songs.js"></script>
    <script src="collections/SongQueue.js"></script>
    <script src="collections/Playlist.js"></script>
    <script src="models/AppModel.js"></script>

    <script src="views/PlayerView.js"></script>
    <script src="views/PlaylistViewContainer.js"></script>
    <script src="views/PlaylistView.js"></script>
    <script src="views/PlaylistEntryView.js"></script>
    <script src="views/PlayerView.js"></script>
    <script src="views/LibraryView.js"></script>
    <script src="views/LibraryEntryView.js"></script>
    <script src="views/SongQueueView.js"></script>
    <script src="views/SongQueueEntryView.js"></script>
    <script src="views/AppView.js"></script>


    <div class="container">
        <div class="row">
            <div class="sixteen columns">
                <h2>Mytunes</h2>
            </div>
        </div>
        <div class="main row">
            <div class="libraryHeader ten columns">
            <h4> Library </h4>
            Artist / Song / Play Count / Add to Active Playlist
            </div>
            <div class="queueHeader six columns">
            <h4>Queue</h4>
            Song / Remove
            </div>
        </div>
    </div>



    <script>
      $(function(){
        // set up model objects
        var library = new Songs(songData);

        var app = new AppModel({library: library});

        window.library = library;
        // build a view for the top level of the whole app
        var appView = new AppView({model: app});

        // put the view onto the screen
        $('.main').append(appView.render());
      });
    </script>
  </body>
</html>
